<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Login into Githubtimeline App.</h3>
                                </div>
                               
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12"> <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="onLogin()" type="button"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</button> </div>
                            </div> <br>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>