<div class="container mt-4">
    <div class="upper-div">
        <input class="form-control" placeholder="Enter github username" [(ngModel)]="userName">
        <button class="btn btn-success ml-2" (click)="onGetProfile()">Search</button>
    </div>
    <div class="row mt-3">
        <div class="col">
           <!-- <pre> {{userProfile|json}}</pre> -->
           <app-github-prifle [githubProfile]="userProfile"></app-github-prifle>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-repos [userRepos]="userRepos"></app-github-repos>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>